.address-list, .products-grid, .filter, .partners-set, .media-set, .team-set, .picture-set, .card-set, .auth-navigation, .menu, .mob-media-list, .mob-auth, .mob-menu-list {
  list-style: none;
}

.address-list__link, .products-grid__link, .partners-set__link, .auth-navigation__link, .menu__link, .mob-media-link, .mob-auth-link, .mob-menu-link, .logo {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #ffffff;
  color: #212121;
  font-family: Roboto, sans-serif;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.67;
  }
}

.btn, .footer__button, .hero__btn, .registration-form__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.1923076923;
  }
}

.logo--dark {
  color: #000000;
}

.logo--white {
  color: #ffffff;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 450px;
  min-height: 609px;
  padding: 40px;
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close-btn:hover, .modal__close-btn:focus {
  fill: #2196f3;
}

.modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .modal__title {
    line-height: 1.15;
  }
}

.registration-form__item {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.registration-form__name {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: #757575;
}

.registration-form__input-area {
  position: relative;
}

.registration-form__input {
  padding: 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgb(117, 117, 117);
  border-radius: 4px;
  width: 100%;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.registration-form__input:focus {
  border-color: #2196f3;
}

.registration-form__icon {
  position: absolute;
  left: 24px;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.registration-form__input:focus + .registration-form__icon {
  fill: #2196f3;
}

.registration-form__comment {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgb(117, 117, 117);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.registration-form__comment::placeholder {
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgb(117, 117, 117);
}
.registration-form__comment:focus {
  border-color: #2196f3;
}

.registration-form__policy {
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
}

.registration-form__text {
  color: #757575;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
}
.registration-form__text::before {
  position: relative;
  bottom: -3px;
  display: inline-block;
  content: "";
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid #303030;
  border-radius: 3px;
}
.registration-form__checkbox:checked + .registration-form__text::before {
  border: none;
  background-color: #2196f3;
  background-image: url("../images/checked.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.registration-form__link {
  color: #2196f3;
}

.registration-form__btn {
  display: block;
  margin: 0 auto;
  padding: 10px 52px;
  min-width: 200px;
}

.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
}
@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}

.menu__open {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
@media screen and (min-width: 768px) {
  .menu__open {
    display: none;
  }
}

.menu-close {
  position: absolute;
  top: 4px;
  right: 4px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-close:hover, .menu-close:focus {
  fill: #2196f3;
}

.mob-menu-item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu-link:hover, .mob-menu-link:focus {
  color: #2196f3;
}

.mob-menu-link--current {
  color: #2196f3;
}

.mob-auth {
  margin-bottom: 64px;
}

.mob-auth-item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-auth-link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-auth-link:hover, .mob-auth-link:focus {
  color: #2196f3;
}

.mob-auth-link--font {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.1764705882;
  color: #2196f3;
}

.mob-media-list {
  display: flex;
  gap: 10px;
}

.mob-media-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mob-media-item {
  padding-right: 10px;
}
.mob-media-item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.header {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}
@media screen and (min-width: 768px) {
  .header {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    display: flex;
  }
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .header__wrapper {
    height: 60px;
  }
}

.header__navigation {
  display: flex;
  align-items: center;
}

.menu {
  display: none;
  margin-left: 87px;
  padding-top: 32px;
  padding-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .menu {
    display: flex;
  }
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.menu__link {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__link:hover, .menu__link:focus {
  color: #2196f3;
}

.menu__link--current {
  color: #2196f3;
  position: relative;
}
.menu__link--current::after {
  position: absolute;
  top: 46px;
  left: 0;
  display: block;
  content: "";
  height: 4px;
  width: 100%;
  background-color: #2196f3;
  border-radius: 2px;
}

.auth-navigation__icon {
  margin-right: 10px;
  fill: currentColor;
}

.auth-navigation {
  display: none;
}
@media screen and (min-width: 768px) {
  .auth-navigation {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .auth-navigation {
    flex-direction: row;
    align-items: center;
  }
}

.auth-navigation__link {
  display: flex;
  align-items: center;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.auth-navigation__link:hover, .auth-navigation__link:focus {
  color: #2196f3;
}
@media screen and (min-width: 1200px) {
  .auth-navigation__link {
    margin-right: 30px;
    justify-content: center;
  }
}

.hero {
  background-color: #2f303a;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-background-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  height: 400px;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
  }
}

.hero__title {
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  max-width: 360px;
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}

.hero__btn {
  padding: 10px 24px;
  min-width: 200px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn:hover, .hero__btn:focus {
  color: #2196f3;
  background-color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .hero__btn {
    min-width: 216px;
  }
}

@media screen and (min-width: 768px) {
  .card-set {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 768px) {
  .card-set__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .card-set__item {
    width: calc((100% - 120px) / 4);
    margin: 15px;
  }
}
@media screen and (max-width: 767px) {
  .card-set__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.card-set__logo {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.card-set__title {
  margin-bottom: 10px;
  text-align: center;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .card-set__title {
    text-align: left;
  }
}

.card-set__description {
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.work-area {
  padding-top: 0px;
}
@media screen and (max-width: 1199px) {
  .work-area {
    display: none;
  }
}

.picture-set {
  display: flex;
  gap: 30px;
}

.picture-set__item {
  position: relative;
}

.picture-set__descr {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.picture-set__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.staff {
  background-color: #f5f4fa;
}

@media screen and (min-width: 768px) {
  .team-set {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.team-set__item {
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team-set__item {
    margin: 15px;
    width: calc((100% - 60px) / 2);
  }
}
@media screen and (max-width: 767px) {
  .team-set__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team-set__item {
    margin: 15px;
    width: calc((100% - 120px) / 4);
  }
}

.team-set__container {
  padding-top: 30px;
  padding-bottom: 24px;
  text-align: center;
}

.team-set__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.team-set__descr {
  color: #757575;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.media-set {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

.media-set__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  fill: #afb1b8;
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.media-set__link:hover, .media-set__link:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

.media-set__link--color {
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
}
.media-set__link--color:hover, .media-set__link--color:focus {
  background-color: #2196f3;
}

.media-set__icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 480px) {
  .partners-set {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: -15px;
  }
}

.partners-set__item {
  width: calc((100% - 60px) / 2);
  margin: 15px;
}
@media screen and (min-width: 768px) {
  .partners-set__item {
    width: calc((100% - 90px) / 3);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .partners-set__item {
    width: calc((100% - 180px) / 6);
    margin: 15px;
  }
}

.partners-set__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92px;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.partners-set__link:hover, .partners-set__link:focus {
  border-color: #2196f3;
  fill: #2196f3;
}

.partners-set__logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  gap: 15px 8px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .filter {
    justify-content: center;
    align-items: center;
  }
}

.filter__btn {
  padding: 6px 25px;
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: none;
  box-shadow: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__btn:hover, .filter__btn:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .products-grid {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.products-grid__item {
  position: relative;
  box-shadow: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 30px;
}
.products-grid__item:hover, .products-grid__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 768px) {
  .products-grid__item {
    margin: 15px;
    width: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .products-grid__item {
    margin: 15px;
    width: calc((100% - 90px) / 3);
  }
}

.products-grid__link {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.products-grid__descr {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
  flex-grow: 1;
}

.products-grid__subtitle {
  margin-bottom: 4px;
  color: #212121;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.products-grid__text {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.products-grid__top-wrap {
  position: relative;
  overflow: hidden;
}

.products-grid__top-text {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 63px 24px;
  height: 100%;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
}
.products-grid__item:hover .products-grid__top-text {
  transform: translateY(0);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}
@media screen and (max-width: 1199px) {
  .footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
}

.footer__container {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__container {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.address {
  margin-top: 20px;
}

.address-list__item {
  margin-bottom: 8px;
}
.address-list__link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-list__link:hover, .address-list__link:focus {
  color: #2196f3;
}
.address-list__link--color {
  color: rgba(255, 255, 255, 0.6);
}

.media-set__link--color {
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer__title {
  margin-top: 60px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .footer__title {
    margin-top: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__title {
    margin-top: 12px;
  }
}

@media screen and (min-width: 768px) {
  .footer__media-wrap {
    margin-top: 0;
    margin-left: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__media-wrap {
    margin-bottom: 12px;
    margin-left: 70px;
  }
}

.footer__subscribe-title {
  margin-top: 60px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .footer__subscribe-title {
    margin-top: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__form {
    display: flex;
  }
}

.footer__input-area {
  width: 450px;
  height: 50px;
  margin-right: 12px;
  margin-bottom: 20px;
  padding: 15px 16px;
  border: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0);
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  justify-content: center;
  color: #ffffff;
}
.footer__input-area::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.footer__input-area:focus {
  outline: 1px solid rgba(255, 255, 255, 0.3);
}
@media screen and (min-width: 1200px) {
  .footer__input-area {
    width: 358px;
    height: 50px;
    padding: 15px 16px;
    margin-bottom: 0px;
  }
}

.footer__button {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  padding: 10px 28px;
  fill: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__button:hover, .footer__button:focus {
  background-color: #ffffff;
  color: #2196f3;
  fill: #2196f3;
}

.footer__icon {
  margin-left: 10px;
}

@media screen and (min-width: 1200px) {
  .footer__subscribe-wrap {
    margin-left: 93px;
  }
}/*# sourceMappingURL=main.css.map */