.info, .products-grid, .filter, .partners-set, .media-set, .team-set, .picture-set, .card-set {
  list-style: none;
}

.info__link, .products-grid__link, .partners-set__link, .logo {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #ffffff;
  color: #212121;
  font-family: Roboto, sans-serif;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
  }
}

.btn, .subscription-form__btn, .hero__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo--dark {
  color: #000000;
}

.logo--white {
  color: #ffffff;
}

.hero {
  background-color: #2f303a;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-background-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  height: 400px;
  display: flex;
  align-items: center;
}

.hero__title {
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__btn {
  padding: 10px 24px;
  min-width: 200px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn:hover, .hero__btn:focus {
  color: #2196f3;
  background-color: #ffffff;
}

@media screen and (min-width: 768px) {
  .card-set {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 768px) {
  .card-set__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .card-set__item {
    width: calc((100% - 120px) / 4);
    margin: 15px;
  }
}
@media screen and (max-width: 767px) {
  .card-set__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.card-set__logo {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.card-set__title {
  margin-bottom: 10px;
  text-align: center;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .card-set__title {
    text-align: left;
  }
}

.card-set__description {
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.work-area {
  padding-top: 0px;
}
@media screen and (max-width: 1199px) {
  .work-area {
    display: none;
  }
}

.picture-set {
  display: flex;
  gap: 30px;
}

.picture-set__item {
  position: relative;
}

.picture-set__descr {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.picture-set__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.staff {
  background-color: #f5f4fa;
}

@media screen and (min-width: 768px) {
  .team-set {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.team-set__item {
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team-set__item {
    margin: 15px;
    width: calc((100% - 60px) / 2);
  }
}
@media screen and (max-width: 767px) {
  .team-set__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team-set__item {
    margin: 15px;
    width: calc((100% - 120px) / 4);
  }
}

.team-set__container {
  padding-top: 30px;
  padding-bottom: 24px;
  text-align: center;
}

.team-set__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.team-set__descr {
  color: #757575;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.media-set {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

.media-set__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  fill: #afb1b8;
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.media-set__link:hover, .media-set__link:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

.media-set__link--color {
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
}
.media-set__link--color:hover, .media-set__link--color:focus {
  background-color: #2196f3;
}

.media-set__icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 480px) {
  .partners-set {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: -15px;
  }
}

@media screen and (min-width: 480px) {
  .partners-set__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 768px) {
  .partners-set__item {
    width: calc((100% - 90px) / 3);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .partners-set__item {
    width: calc((100% - 180px) / 6);
    margin: 15px;
  }
}

.partners-set__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92px;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.partners-set__link:hover, .partners-set__link:focus {
  border-color: #2196f3;
  fill: #2196f3;
}

.partners-set__logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
  margin-bottom: 15px;
}

.filter__btn {
  padding: 6px 22px;
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: none;
  box-shadow: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__btn:hover, .filter__btn:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.products-grid__descr {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.products-grid__item {
  position: relative;
  box-shadow: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.products-grid__item:hover, .products-grid__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.products-grid__subtitle {
  margin-bottom: 4px;
  color: #212121;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.products-grid__text {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.products-grid__top-wrap {
  position: relative;
  overflow: hidden;
}

.products-grid__top-text {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 63px 24px;
  height: 100%;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
}
.products-grid__item:hover .products-grid__top-text {
  transform: translateY(0);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 60px;
}

.footer__subtitle {
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.info {
  margin-top: 20px;
}

.info__item:not(:last-child) {
  margin-bottom: 9px;
}

.info__link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.info__link:hover, .info__link:focus {
  color: #2196f3;
}
.info__link--white {
  color: #ffffff;
}

.subscription-form {
  display: flex;
  flex-wrap: wrap;
}

.subscription-form__input {
  width: 450px;
  padding: 15px 16px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscription-form__input:focus {
  border-color: #2196f3;
}
.subscription-form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscription-form__btn {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  padding: 10px 28px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscription-form__btn:hover, .subscription-form__btn:focus {
  background-color: #fff;
  color: #2196f3;
}

.subscription-form__icon {
  margin-left: 10px;
  fill: #fff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscription-form__btn:hover > .subscription-form__icon, .subscription-form__btn:focus > .subscription-form__icon {
  fill: #2196f3;
}/*# sourceMappingURL=main.css.map */