.logo {
  @extend %link;

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $accentColor;

  padding-top: 16px;
  padding-bottom: 16px;
}

.logo--dark {
  color: $darkLogo;
}

.logo--white {
  color: $whiteLogo;
}
