.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 48px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;

  background-color: $whiteColor;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu__open {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;

  cursor: pointer;
  background-color: transparent;
  border: none;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-close {
  position: absolute;
  top: 4px;
  right: 4px;

  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;
  border: none;
  cursor: pointer;

  transition: fill $mainTransition;

  &:hover,
  &:focus {
    fill: $accentColor;
  }
}

.mob-menu-list {
  @extend %list;
}

.mob-menu-item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu-link {
  @extend %link;

  font-weight: 500;
  font-size: 40px;
  line-height: calc(47 / 40);
  letter-spacing: 0.02em;
  color: $primaryTextColor;

  transition: color $mainTransition;

  &:hover,
  &:focus {
    color: $accentColor;
  }
}

.mob-menu-link--current {
  color: $accentColor;
}

.mob-auth {
  @extend %list;

  margin-bottom: 64px;
}

.mob-auth-item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-auth-link {
  @extend %link;

  font-weight: 500;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.02em;

  color: $secondaryTextColor;
  transition: color $mainTransition;

  &:hover,
  &:focus {
    color: $accentColor;
  }
}

.mob-auth-link--font {
  font-weight: 500;
  font-size: 34px;
  line-height: calc(40 / 34);

  color: $accentColor;

  @media screen and (max-width: 479px) {
    font-size: 26px;
  }
}

.mob-media-list {
  @extend %list;

  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.mob-media-link {
  @extend %link;

  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;

  color: $accentColor;
}

.mob-media-item {
  padding-right: 10px;

  &:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}
