// text
$fontFamily: Roboto, sans-serif;

$primaryTextColor: #212121;
$secondaryTextColor: #757575;
$whiteColor: #ffffff;
$darkLogo: #000000;
$whiteLogo: #ffffff;

$accentColor: #2196f3;

// bg

$primaryBgColor: #ffffff;
$accentBgColor: #2f303a;
$secondaryBgColor: #f5f4fa;

// transitions

$mainTransition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
