.partners-set {
  @extend %list;

  @media screen and (min-width: 480px) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    margin: -15px;
  }
}

.partners-set__item {
  width: calc((100% - 4 * 15px) / 2);
  margin: 15px;

  @media screen and (min-width: 768px) {
    width: calc((100% - 6 * 15px) / 3);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 12 * 15px) / 6);
    margin: 15px;
  }
}

.partners-set__link {
  @extend %link;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 92px;

  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: fill $mainTransition, border-color $mainTransition;

  &:hover,
  &:focus {
    border-color: #2196f3;
    fill: $accentColor;
  }
}

.partners-set__logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
