.card-set {
  @extend %list;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.card-set__item {
  @media screen and (min-width: 768px) {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 4 * 30px) / 4);
    margin: 15px;
  }

  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
}

.card-set__logo {
  // margin-right: auto;
  // margin-left: auto;
  margin-bottom: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;

  background-color: #f5f4fa;
  border-radius: 4px;
}

.card-set__title {
  margin-bottom: 10px;
  text-align: center;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.card-set__description {
  color: $secondaryTextColor;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
