.hero {
  background-color: $accentBgColor;
  background-image: $bgGradient, url('../images/mob/hero-bg-image-mob.jpg');

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  text-align: center;

  height: 400px;
  display: flex;
  align-items: center;

  @include retina {
    background-image: $bgGradient, url('../images/mob/hero-bg-image-mob@2x.jpg');
  }

  @media screen and (min-width: 768px) {
    background-image: $bgGradient, url('../images/tablet/hero-bg-image-tablet.jpg');
    @include retina {
      background-image: $bgGradient, url('../images/tablet/hero-bg-image-tablet@2x.jpg');
    }
  }

  @media screen and (min-width: 1200px) {
    height: 600px;
    background-image: $bgGradient, url('../images/hero-background-image.jpg');
    @include retina {
      background-image: $bgGradient, url('../images/hero-background-image@2x.jpg');
    }
  }
}

.hero__title {
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  max-width: 360px;

  color: $whiteColor;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}

.hero__btn {
  @extend .btn;

  padding: 10px 24px;
  min-width: 200px;

  transition: background-color $mainTransition;

  &:hover,
  &:focus {
    color: $accentColor;
    background-color: $primaryBgColor;
  }

  @media screen and (min-width: 1200px) {
    min-width: 216px;
  }
}
